body {
	margin: 20px 300px 20px 20px;
	font-family: sans-serif;
}

h1, h2, h3, h4, hr, p, ul {
	margin: 0 0 20px 0;
}

:link,
:visited {
	color: #017702;
	text-decoration: none;
}

a:hover {
	color: #ff4b33;
}

.key {
	position: fixed;
	top: 20px;
	right: 20px;
}

.meta {
	display: block;
	margin-top: -20px;
	color: #666;
	font-size: 0.8em;
}

.variable-type,
.return-type {
	color: #0066ff;
}

.event-name {
	color: #6200BD;
}

.function-name {
	color: #0000a0;
}

.bracket {
	font-weight: bold;
}

.variable-name {
	font-style: italic;
}

.returns {
	display: inline-block;
	width: 200px;
	text-align: right;
}